<!-- From the semantic-ui package: -->
<form class="ui large form segment">

  <h3 class="ui header">Add a Link</h3>

  <div class="field">

    <label for="title">Title:</label>
    <!-- Using Hash symbol # for local variable in Input this is called a resolve -->
    <input name="title" id="title" #newtitle> <!-- changed -->

  </div>

  <div class="field">

    <label for="link">Link:</label>
    <!-- Using Hash symbol # for local variable in Input -->
    <input name="link" id="link" #newlink>

  </div>

  <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">
    Submit link
  </button>

  
</form>